#search2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  padding-top: 200px; /* 헤더 높이만큼 패딩 추가 */
}

#search2 .title2 {
  font-size: 20px;
  line-height: 33px;
  font-weight: 500;
  color: #000;
  border-bottom: 3px solid #000;
  text-transform: uppercase;
}

#search {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  height: calc(100vh - 40px); /* 화면 높이에 맞게 설정 */
}

#search #list_container {
  display: flex;
  flex-direction: column;
  width: 50%; /* 리스트가 전체 너비의 절반을 차지하도록 설정 */
  overflow-y: auto; /* 세로 스크롤바 추가 */
  height: calc(80vh);
  scrollbar-width: thin; /* 스크롤바 두께 조정 (모질라 브라우저) */
  scrollbar-color: #888 #f0f0f0; /* 스크롤바 색상 조정 (모질라 브라우저) */
}


#search #list_container::-webkit-scrollbar {
  width: 12px; /* 스크롤바 두께 조정 (웹킷 브라우저) */
}

#search #list_container::-webkit-scrollbar-track {
  background: #f0f0f0; /* 스크롤바 트랙 색상 (웹킷 브라우저) */
}

#search #list_container::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 (웹킷 브라우저) */
  border-radius: 10px; /* 스크롤바 모서리 둥글게 */
  border: 3px solid #f0f0f0; /* 스크롤바 경계선 */
}

#search #list_count {
  text-align: center;
  margin-bottom: 20px; /* 리스트와 간격 추가 */
}

#search #list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 280px); /* 각 행의 높이를 280px로 설정 */
  grid-gap: 20px;
}

#search #list .block {
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

#search #list img {
  width: 100%;
  display: block;
}

#search .text_box {
  padding: 10px;
  background-color: #fff;
}

#search .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* 간격 추가 */
}

#search .title {
  font-size: 1.2em;
  font-weight: bold;
}

#search .location {
  margin-bottom: 10px; /* 간격 추가 */
}

#search .standard {
  margin-bottom: 10px; /* 간격 추가 */
}

#search .price {
  margin-bottom: 10px; /* 간격 추가 */
}

#search .text {
  font-size: 1em;
  color: #555;
}

#search #map {
  width: 50%; /* 지도도 전체 너비의 절반을 차지하도록 설정 */
  height: calc(80vh); /* 화면 높이에 맞게 설정, 패딩 고려 */
  border: 1px solid #ddd;
  border-radius: 8px;
  position: sticky;
  top: 0;
}

#search #pagination {
  text-align: center;
  margin: 20px 0;
}

#search .page-btn {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

#search .page-btn:hover {
  background-color: #f0f0f0;
}

#search .page-btn.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

#search .text_box .rating {
  display: flex;
  align-items: center;
}

#search .text_box #search_rating {
  width: 16px;
  margin-right: 6px;
}

#search .img img {
  border-radius: 16px;
  height: 150px;
}
