@charset "EUC-KR";

body {
	font-family: 'Noto Sans KR';
}

.center {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1300px;
}

/*탑버튼*/
.top_btn {
	position: fixed;
	height: 60px;
	width: 60px;
	bottom: 60px;
	right: 60px;
	z-index: 1;
	background-image: url(../img/common/top_btn.png);
	background-size: 30px;
	border-radius: 60px;
	cursor: pointer;
	border: 2px solid #000;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	display: none;
}
/*//탑버튼*/
/*header*/
header#header {
	font-family: 'Lato' !important;
	position: fixed;
	width: 100%;
	z-index: 1;
}

header#header .top_event {
	height: 80px;
	background-color: #222;
	color: #fff;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 10px;
}

header#header .top_event div span {
	letter-spacing: 8px;
}

header#header  nav {
	display: flex;
	justify-content: center;
	height: 100px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

header#header  nav a.logo {
	width: 110px;
	display: block;
	position: relative;
}

header#header  nav a.logo img {
	width: 100%;
	height: 100%;
}

header#header  nav>div {
	width: 1800px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

header#header .select {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header#header .select ul {
	display: flex;
}

header#header .select ul li {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-right: 40px;
}

header#header .select ul li img {
	margin-right: 10px;
}

header#header .select ul li:last-child {
	margin-right: 0;
}

header#header .select ul li:first-child::after {
	content: "";
	width: 1px;
	height: 24px;
	background: #888;
	margin-left: 40px;
}

header#header .select ul li img {
	width: 24px;
}

header#header .menu {
	display: flex;
}

header#header .menu ul {
	display: flex;
	align-items: center;
}

header#header .menu ul.main::after {
	content: "";
	width: 1px;
	height: 24px;
	background: #888;
	margin-left: 20px;
}

header#header .menu ul li {
	margin-right: 20px;
	font-weight: 700;
}

header#header .menu ul li:last-child {
	margin-right: 0;
}

header#header .menu ul.sub {
	margin-left: 20px;
}

header#header .menu ul.sub li a {
	color: #999;
}

header#header .menu ul.sub li {
	font-weight: 500;
}

/*//header*/

/*footer*/
.footer_wrap {
	clear: both;
	margin: 0 auto;
	position: relative;
	width: 100%;
	padding: 70px 0;
}

.footer_wrap .logo {
	text-indent: -99999px
}

.footer_wrap .logo a {
	background: url(/web/images/logo.png) no-repeat 50%;
	background-size: cover;
	width: 78px;
	height: 32px;
	overflow: visible
}

.footer_wrap .company {
	margin-top: 35px
}

.footer_wrap .company span {
	font-size: 12px;
	line-height: 2.5;
	color: #333;
	margin-right: 15px;
	display: inline-block
}

.footer_wrap .sns {
	position: absolute;
	top: 72px;
	right: 78px;
	display: flex;
	justify-content: space-between;
	width: 115px
}

.footer_wrap .sns a {
	text-indent: -99999px;
	width: 20px;
	height: 20px
}

.footer_wrap .sns a.fb {
	background: url(/web/images/ico_sns.png) no-repeat 0 0;
	background-size: 20px 100px
}

.footer_wrap .sns a.insta {
	background: url(/web/images/ico_sns.png) no-repeat 0 -20px;
	background-size: 20px 100px
}

.footer_wrap .sns a.naver {
	background: url(/web/images/ico_sns.png) no-repeat 0 -40px;
	background-size: 20px 100px
}

.footer_wrap .sns a.brunch {
	background: url(/web/images/ico_sns.png) no-repeat 0 -60px;
	background-size: 20px 100px
}

.footer_wrap .sns a.youtube {
	background: url(/web/images/ico_sns.png) no-repeat 0 -80px;
	background-size: 20px 100px
}

.footer_wrap .others {
	position: absolute;
	top: 140px;
	right: 45px;
}

.footer_wrap .others.others-ko {
	margin: 0 25px 0 0
}

.footer_wrap .others:before {
	content: "";
	display: block;
	position: absolute;
	top: -65px;
	left: -30px;
	width: 1px;
	height: 258px;
	background: #ccc
}

.footer_wrap .others a {
	display: block;
	font-size: 13px;
	color: #333;
	line-height: 2.2;
	letter-spacing: 1.5px
}

.footer_wrap .copyright {
	font-size: 12px;
	letter-spacing: .6px;
	margin-top: 40px;
	cursor: pointer
}

.footer_wrap .line {
	font-size: 0;
	width: 1px;
	height: 172px;
	background: #ccc;
	position: absolute;
	right: 210px;
	top: 72px;
}

#footer * {
	transition: all .2s
}

#footer .container_wide {
	padding: 65px 75px;
	background-color: #f5f5f5;
}

.footer_cont {
	position: relative
}

.footer_cont .logo {
	position: absolute;
	top: 0;
	right: 0
}

.footer_cont .logo img {
	width: 110px;
}

.footer_cont .menu-cs {
	display: flex
}

.footer_cont .menu-cs .menu {
	width: 130px
}

.footer_cont .menu-cs .menu li a {
	margin-top: 24px;
	font-size: 14px;
	color: #4d4d4d
}

.footer_cont .menu-cs .menu li+li {
	margin-top: 30px;
	white-space: nowrap
}

.footer_cont .menu-cs .cs {
	margin-left: 5vw
}

.footer_cont .menu-cs .cs .cs-tit {
	font-size: 18px;
	font-weight: 600;
	color: #4d4d4d
}

.footer_cont .menu-cs .cs .cs-btns {
	margin-top: 16px
}

.footer_cont .menu-cs .cs .cs-btns button {
	display: inline-block;
	margin-right: 8px;
	width: 72px;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #4d4d4d;
	cursor: pointer;
}

.footer_cont .menu-cs .cs .cs-btns button.gry {
	background: #4d4d4d;
	color: #fff;
	margin-bottom: 8px
}

.footer_cont .menu-cs .cs .cs-btns button.wh {
	background: transparent;
	color: #4d4d4d;
	margin-bottom: 8px
}

.footer_cont .menu-cs .cs .cs-btns button.gry-en {
	background: #4d4d4d;
	width: 90px;
	font-size: 11px;
	height: 36px;
	color: #fff;
	margin-bottom: 8px
}

.footer_cont .menu-cs .cs .cs-btns button.wh-en {
	background: transparent;
	font-size: 11px;
	width: 90px;
	height: 36px;
	letter-spacing: -1px;
	color: #4d4d4d;
	margin-bottom: 8px
}

.footer_cont .menu-cs .cs .cs-time {
	margin-top: 12px;
	font-size: 14px;
	color: #4d4d4d
}

.footer_cont .menu-cs .cs .cs-time small {
	margin-top: 8px;
	font-size: 12px;
	margin-left: 4px;
	display: inline;
	vertical-align: 1px;
	word-spacing: -1.5px
}

.footer_cont .menu-cs .cs .cs-terms {
	margin-top: 30px
}

.footer_cont .menu-cs .cs .cs-terms a {
	display: inline-block;
	margin-right: 10px;
	font-size: 13px;
	color: #666
}

.footer_cont .menu-cs .cs .cs-terms a strong {
	font-weight: 700
}

.footer_cont .menu-cs .cs .cs-temp {
	margin-top: 11px
}

.footer_cont .menu-cs .cs .cs-temp a {
	display: inline-block;
	margin-right: 10px;
	font-size: 13px;
	color: #666
}

.footer_cont .menu-cs .cs .cs-temp a strong {
	font-weight: 700
}

.footer_cont .sns {
	position: absolute;
	bottom: 25px;
	right: 0
}

.footer_cont .sns li {
	display: inline-block;
	margin-right: 2px
}

.footer_cont .sns li a {
	display: inline-block;
	text-indent: -99999px;
	width: 20px;
	height: 20px
}

.footer_cont .copyright {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
	color: #b3b3b3
}

.footer_address {
	margin-top: 40px;
	padding-top: 18px;
	width: 100%;
	border-top: 1px solid #ccc;
	display: inline-block
}

.footer_address span.info:lang(ja) {
	word-break: break-all !important;
	text-align: left
}

.footer_address span.info {
	font-size: 12px;
	line-height: 1.8;
	color: #999;
	margin-right: 15px
}

.footer_address a.info {
	display: inline
}

/*//footer*/

/*index*/
#index .top_banner {
	height: 530px;
	background-image: url("../img/main/main_bg.jpg");  
	background-position: 0% 70%;
	object-fit: cover;
	background-repeat: no-repeat;
	display: flex; /* flexbox를 사용하여 레이아웃 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

#index .common {
	padding: 120px 0 0 0;
}

#index .common .head {
	display: flex;
	justify-content: center;
	position: relative;
	color: #181818;
}

#index .common .head .title span {
	letter-spacing: 6px;
}

#index .common .head a.link {
	position: absolute;
	right: 0;
	font-size: 14px;
	color: #181818;
	display: flex;
	width: 76px;
	background-image: url("../img/main/right_arrow.png");
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 20px;
}

#index .common .list {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #ddd;
	padding-bottom: 60px;
}

#index .common.promotion .list {
	border-bottom: none;
}

#index .common.journal {
	border-bottom: none;
	padding-bottom: 60px;
}

#index .common.journal .list {
	padding-bottom: 0;
	border-bottom: none;
}

#index .common .list .block {
	margin-right: 30px;
	width: calc(( 100% - 60px)/3);
	margin-bottom: 60px;
}

#index .common .list .block img {
	height: 260px;
	width: 100%;
	object-fit: cover;
}

#index .common .list .block:nth-child(3n) {
	margin-right: 0;
}

#index .common .list .block .text_box {
	margin-top: 40px;
	text-align: center;
}

#index .common .list .block .text_box span {
	display: block;
}

#index .common .list .block .text_box .title {
	font-size: 26px;
	color: #181818;
	line-height: 40px;
}

#index .common .list .block .text_box .text {
	margin-top: 20px;
	color: gray;
	line-height: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.71;
	line-height: 24px;
}

#index .event {
	padding: 60px 0 0 0;
}

#index .event a {
	height: 100%;
	display: flex;
	height: 350px;
	background-image: url("../img/main/main_event_bg.jpg");
	background-size: cover;
	background-position: center 66%;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

#index .event a p.title {
	font-size: 24px;
}

#index .event a p.text {
	margin-top: 20px;
}

#index #hotel_search { /* 박범수 수정 */
	width: 70%;
    background: #fff;
    min-height: 120px;
    padding: 24px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 280px;
    
}

#index #hotel_search_address {
	height: 52px;
	width: 35%;
	background: #222;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
 	background-image: url("../img/common/header_back2.png"); /* 아이콘 이미지 URL */
    background-size: 16px 16px; /* 이미지 크기 설정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: 90px center; /* 이미지 위치를 왼쪽 가운데로 설정 */
    padding-left: 24px; /* 아이콘과 텍스트 사이의 간격 설정 */
}

#index #search_address_modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	width:800px;
	height:500px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	z-index: 3;
}
#index #address_search_title {
	width: 100%;
	height: 20%;
}

#index #address_input_div {
 	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

#index #address_input {
	width: 60%;
	height: 52px;
	border-radius: 5px;
	background-color: #f5f5f5;
	background-image: url("../img/common/magnifying-glass.png"); /* 아이콘 이미지 URL */
    background-size: 16px 16px; /* 이미지 크기 설정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: 20px; /* 이미지 위치를 왼쪽 가운데로 설정 */
    padding-left: 48px;
}

#index #hotel_search_date {
	height: 52px;
	width: 35%;
	background: #222;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	background-image: url("../img/common/header_location2.png"); /* 아이콘 이미지 URL */
    background-size: 16px 16px; /* 이미지 크기 설정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: 100px center; /* 이미지 위치를 왼쪽 가운데로 설정 */
    padding-left: 24px; /* 아이콘과 텍스트 사이의 간격 설정 */
}

#index #search_date_modal {
	 display: none;
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 background-color: white;
	 padding: 20px;
	 width:400px;
	 height:500px;
	 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	 z-index: 3;
}

#index #hotel_search_capacity {
	height: 52px;
	width: 20%;
	background: #222;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	background-image: url("../img/common/friend.png"); /* 아이콘 이미지 URL */
    background-size: 16px 16px; /* 이미지 크기 설정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: 30px center; /* 이미지 위치를 왼쪽 가운데로 설정 */
    padding-left: 32px; /* 아이콘과 텍스트 사이의 간격 설정 */
}

#index #search_capacity_modal {
	 display: none;
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 background-color: white;
	 padding: 20px;
	 width:400px;
	 height:500px;
	 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	 z-index: 3;
}

#index #hotel_search_button {
	height: 52px;
	width: 52px;
	background: #fff;
	border-radius: 5px;
	background-image: url("../img/common/magnifying-glass.png"); /* 아이콘 이미지 URL */
	background-size: 32px 32px; /* 이미지 크기를 버튼에 맞춤 */
	background-repeat: no-repeat; /* 이미지 반복 방지 */
	background-position: center; /* 이미지 위치를 버튼의 중앙으로 */
	cursor: pointer;
}

#index .search_modal_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 설정 */
    justify-content: center;
    align-items: center;
    z-index: 2;
}
/*//index*/

/*promotion*/
#promotion .list {
	display: flex;
	flex-wrap: wrap;
	height: auto !important;
	padding: 0 0 60px 0;
}

#promotion .block {
	width: calc(( 100% - 60px)/3);
	position: static !important;
	margin-right: 30px;
	margin-bottom: 60px;
	overflow: hidden;
}

#promotion .block:nth-child(3n) {
	margin-right: 0
}

#promotion .block .img1 {
	width: 100%;
	height: 410px;
	object-fit: cover;
	display: block;
	margin-bottom: 20px;
}

#promotion .list .content {
	text-align: left;
	font-size: 14px;
	line-height: 1.71;
	color: #4d4d4d;
	margin: 0 0 12px;
}

#promotion .list .content .miniTitle {
	font-size: 20px;
	line-height: 1.8;
	text-align: left;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 5px;
}

#promotion .list .miniContent {
	color: gray;
	margin-bottom: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: left;
	font-size: 14px;
	line-height: 1.71;
}

#promotion .title {
	text-align: center;
	padding: 60px 0;
	justify-content: center;
}

#promotion .title2 {
	font-size: 20px;
	line-height: 33px;
	font-weight: 500;
	color: #000;
	border-bottom: 3px solid #000;
	text-transform: uppercase;
}
/*//promotion*/

/*findList*/
#findList {
	max-width: 1740px;
	margin: 0 auto;
}

#findList>.title {
	text-align: center;
	padding: 60px 0;
	justify-content: center;
}

#findList .title2 {
	font-size: 20px;
	line-height: 33px;
	font-weight: 500;
	color: #000;
	border-bottom: 3px solid #000;
	text-transform: uppercase;
}

#findList .list {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 60px;
}

#findList .list .block {
	width: calc(( 100% - 100px)/6);
	margin-right: 20px;
	margin-bottom: 60px;
}

#findList .list .block:nth-child(6n) {
	margin-right: 0;
}

#findList .list .block .img {
	height: 270px;
}

#findList .list .block .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}

#findList .list .block .text_box {
	padding-top: 20px;
	line-height: 26px;
}

#findList .list .block .text_box .top {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
}

#findList .list .block .text_box .top .rating {
	display: flex;
	align-items: center;
}

#findList .list .block .text_box .top .rating img {
	width: 16px;
	margin-right: 6px;
}

#findList .list .block .text_box .top .title {
	font-size: 20px;
	color: #333;
}

#findList .list .block .text_box .location {
	font-size: 14px;
	color: #808080;
}

#findList .list .block .text_box .price {
	font-size: 14px;
}

#findList .list .block .text_box .standard {
	font-size: 14px;
	color: #808080;
}

/*//findList*/